<svg ng-if='navigationInput == 1' class='svg.discover pos.atl' height='100%' width='100%' viewbox='0 0 100 100' preserveAspectRatio='none'>
	<rect id='color-1' x='30' y='0' height='100px' width='70px' ng-style="{fill:colorSetAlpha1}"></rect>
	<rect id='color-2' x='12' y='70' height='30px' width='18px' ng-style="{fill:colorSetAlpha2}"></rect>
	<rect id='color-3' x='12' y='0' height='70px' width='18px' ng-style="{fill:colorSetAlpha3}"></rect>
	<rect id='color-4' x='0' y='16' height='84px' width='12px' ng-style="{fill:colorSetAlpha4}"></rect>
	<rect id='color-5' x='0' y='0' height='16px' width='12px' ng-style="{fill:colorSetAlpha5}"></rect>
</svg>
<svg ng-if='navigationInput == 2' class='svg.compare pos.atl' height='100%' width='100%' viewbox='0 0 100 100' preserveAspectRatio='none'>
	<rect id='color-1' x='30' y='0' height='100px' width='70px' ng-style="{fill:colorSetAlpha1}"></rect>
	<rect id='color-2' x='12' y='70' height='30px' width='18px' ng-style="{fill:colorSetAlpha2}"></rect>
	<rect id='color-3' x='12' y='0' height='70px' width='18px' ng-style="{fill:colorSetAlpha3}"></rect>
	<rect id='color-4' x='0' y='16' height='84px' width='12px' ng-style="{fill:colorSetAlpha4}"></rect>
	<rect id='color-5' x='0' y='0' height='16px' width='12px' ng-style="{fill:colorSetAlpha5}"></rect>
</svg>
<svg ng-if='navigationInput == 3' class='svg.save pos.atl' height='100%' width='100%' viewbox='0 0 100 100' preserveAspectRatio='none'>
	<g transform='rotate(-90 50 50)'>
		<rect id='color-1' x='30' y='0' height='100px' width='70px' ng-style="{fill:colorSetAlpha1}"></rect>
		<rect id='color-2' x='12' y='70' height='30px' width='18px' ng-style="{fill:colorSetAlpha2}"></rect>
		<rect id='color-3' x='12' y='0' height='70px' width='18px' ng-style="{fill:colorSetAlpha3}"></rect>
		<rect id='color-4' x='0' y='16' height='84px' width='12px' ng-style="{fill:colorSetAlpha4}"></rect>
		<rect id='color-5' x='0' y='0' height='16px' width='12px' ng-style="{fill:colorSetAlpha5}"></rect>
	</g>
</svg>